@import '~bootstrap/scss/bootstrap';

.container {

}

.display {

}

.logged-in {
  display: none;
}

.logged-out {

}

.settings {
  display: none;
}

#gig-maker {
  display: none;
}

#gig-finder {
  display: none;
}

#gig-index {
  display: none;
}

#gig-changer {
  display: none;
}

#gig-deleter {
  display: none;
}

#gigs-display {
  display: none;
}

#sign-in {

}

#sign-out {
  display: none;
}

#sign-up {
 display: none;
}

#verwaltung {
  display: none;
}
