@import '~bootstrap/scss/bootstrap';
#sign-up {

}

#sign-in {

}

#sign-out {
  display: none;
}

#change-password {
  display: none;
}

.logged-in {
  display: none;
}

#SLBB-parent{
  position: relative;
}

#SLBB-child{
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}
